<div class="filter" id="search">
  <input type="text" class="search" name="filterHeroes" placeholder="Find your Hero..." [(ngModel)]="filterHero">
  
</div>
<div class="second-filter">
<label class="stats-filter" for="selectStat"> PowerStats: </label>
<select id="selectDupla" class="form-control filter-select" [(ngModel)]="selectedStat" (change)="filterByStats()">
  <option value="">Stats</option>
  <option value="intelligence">Intelligence</option>
  <option value="strength">Strength</option>
  <option value="speed">Speed</option>
  <option value="durability">Durability</option>
  <option value="power">Power</option>
  <option value="combat">Combat</option>
</select>
  <label> Gender:</label>
  <select id="selectGender" class="form-control filter-select" [(ngModel)]="selectedGender" (change)="filterByGender()">
  <option value="">Genders</option>
  <option value="male">Male</option>
  <option value="female">Female</option>
  </select>
  <label class="race-filter" for="selectRace">Race:</label>
  <select id="selectRace" class="form-control filter-select" [(ngModel)]="selectedRace" (change)="filterByRace()">
  <option value="">Races</option>
  <option *ngFor="let race of getUniqueRaces()" [value]="race">{{race}}</option>
  </select>
  <label class="height-filter" for="selectHeight">Height:</label>
  <select id="selectHeight" class="form-control filter-select" [(ngModel)]="selectedHeight" (change)="filterByHeight()">
  <option value="">Height</option>
  <option *ngFor="let height of getUniqueHeight()" [value]="height">{{height}}</option>
  </select>
  <label class="weight-filter" for="selectWeight">Weight:</label>
  <select id="selectWeight" class="form-control filter-select" [(ngModel)]="selectedWeight" (change)="filterByWeight()">
  <option value="">Weight</option>
  <option *ngFor="let weight of getUniqueWeight()" [value]="weight">{{weight}}</option>
  </select>
  <label class="eye-color-filter" for="selectEyeColor">Eye Color:</label>
  <select id="selectEyeColor" class="form-control filter-select" [(ngModel)]="selectedEyeColor" (change)="filterByEyeColor()">
  <option value="">Eyes</option>
  <option *ngFor="let eyeColor of getUniqueEyeColor()" [value]="eyeColor">{{eyeColor}}</option>
  </select>
  <label class="hair-color-filter" for="selectHairColor">Hair Color:</label>
  <select id="selectHairColor" class="form-control filter-select" [(ngModel)]="selectedHairColor" (change)="filterByHairColor()">
  <option value="">Hair</option>
  <option *ngFor="let hairColor of getUniqueHairColor()" [value]="hairColor">{{hairColor}}</option>
  </select>
</div>
<div class="message slide-message">
  <img src="../../../assets/batman.png" class="logo" alt="Batman">
  {{ message$ | async }}
  <img src="../../../assets/spideman.png" alt="Spiderman">
</div>
<div class="card-deck">
  <div class="card mb-4" *ngFor="let hero of filteredheroes | searchFilter:filterHero; index as i">
    <img [src]="hero.image.url" class="card-img-top" alt="{{hero.name}}">
    <div class="card-body">
      <h5 class="card-title">{{hero.name}}</h5>
    </div>
  </div>
</div>