@import url('https://fonts.cdnfonts.com/css/poppins');

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem;
    max-width: 100%;
  }
  
  .card {
    background-color: rgb(125, 241, 226);
    border-radius: 15px;
    margin: 1rem;
    flex-basis: calc((100% / 5) - 2rem); /* Ajustar el número 5 para el número máximo de tarjetas por columna */
  }

  .card:hover{
    background-color: rgb(220, 241, 125);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .card-img-top {
    display: block;
    margin: 8px auto;
    border-radius: 80px;
    box-shadow: inset 0 0 0 1px #fff;
    height: 150px;
    width: auto;
  }

  .card-title {
    text-align: center;
    text-transform: capitalize;
    font-family: poppins;
    margin-top: 1rem;
    margin-bottom: 5px;
  }
.gender-filter{
  margin-left: 1.2rem;
  font-family: poppins;
}

// Estilos para ambos filtros
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: poppins;
  border-radius: 10px;
  margin-bottom: 20px;



  // Estilos para las etiquetas de cada filtro
  label {
    display: block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    font-family: poppins;
  }

  // Estilos para los select de cada filtro
  select {
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
    font-family: poppins;    
    appearance: none;
  }

  // Estilos para el ícono de cada filtro
  i {
    font-size: 12px;
    margin-left: 5px;
    color: #666;
    font-family: poppins;
    &:hover {
      color: #000;
    }
  }
}


.search{
  padding: 13px 150px;
  border-radius: 25px;
  font-family: poppins;
  font-size: 14px
}
// Aplicar estilos al primer div
.first-filter {
  @extend .filter;
}

// Aplicar estilos al segundo div
.second-filter {
  @extend .filter;
}